.card__item {
  width: 30rem;
  margin: 2rem;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}

.item__layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn__volver {
  display: flex;
  justify-content: center;
}

.btn__terminar {
  display: flex;
  justify-content: center;
}

img {
  max-width: 22rem;
}
